.button {
  border-radius: 8px;
  background: #EC6468;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
  min-width: 236px;
  height: 36px;

  @media (max-width: 900px) {
    min-width: fit-content;
    width: 100%;
    max-width: 236px;
  }
}
