.select {
  width: 236px;

  .select_pref {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  span{
    display: none;
  }
}
.selected_logo{
  position: absolute;
  width: 18px;
  left: 5%;
}
.icons_select{
  position: absolute;
  width: 18px;
  right: 5%;
}

.dropt_select{
  svg{
    transition: rotate 0.5s ease-in-out;
    rotate: -180deg;
  }
}
.usual_select{
  svg{
    transition: rotate 0.5s ease-in-out;
    rotate: 0deg;
  }
}
